{% extends "GestionEntrepriseParametrageBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Moyen de Paiement{% endblock %}

{% block gestparam_body %}


    <a href="{{ path('GestionEntrepriseParametrageBundle_ajoutMoyenDePaiement') }}">Ajouter un moyen de paiement</a>
    
    
    {% if moyensdepaiement|length > 0 %}
    <table class="grille">
        <tr>
            <th>Description</th>
            <th>Moyen de paiement par défaut</th>
            <th></th>
        <tr>
        
        {% for moyendepaiement in moyensdepaiement %}
        <tr>
            <td>
                {{ moyendepaiement.libelle }}
            </td>
            <td>
                {% if moyendepaiement.defaut == true %}
                O
                {% else %}
                N
                {% endif %}
            </td>
            <td>
                <a href="{{ path('GestionEntrepriseParametrageBundle_modifierMoyenDePaiement', {'id': moyendepaiement.id}) }}">
                    {% image '../app/Resources/public/images/modifier.png' %}
                    <img src="{{ asset_url }}" alt="Modifier" title="Modifier"/>
                    {% endimage %}
                </a>
                <a href="{{ path('GestionEntrepriseParametrageBundle_supprimerMoyenDePaiement', {'id': moyendepaiement.id}) }}">
                    {% image '../app/Resources/public/images/supprimer.png' %}
                    <img src="{{ asset_url }}" alt="Supprimer" title="Supprimer"/>
                    {% endimage %}
                </a>
            </td>
        <tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Aucune donnée ...</p>
    {% endif %}
    
{% endblock %}
